<footer>
    <div class="comment-section">
        <h2 class="comment-title">ความคิดเห็น</h2>
        <div class="comment-input">
            <img src="/images/LogoSample.png" alt="User Logo" class="user-logo">
            <input type="text" id="commentInput" placeholder="เพิ่มการตอบกลับ" class="input-comment">
        </div>
        <div class="button-group">
            <button class="cancel-btn" onclick="clearComment()">ยกเลิก</button>
            <button class="send-btn" id="sendBtn">ส่งความคิดเห็น</button>
        </div>

        <div id="commentsContainer">
            <!-- ตัวอย่างคอมเมนต์ -->
            <div class="comment">
                <img src="/images/LogoSample.png" alt="Profile" class="profile-img">
                <div class="comment-details">
                    <p class="username">@สมชาย</p>
                    <p class="comment-text">วันนี้ได้มีโอกาสลองชิมข้าวผัดตะเลจากร้าน ต้องบอกว่าไม่ผิดหวังเลย</p>
                </div>
            </div>
            <div class="comment">
                <img src="/images/LogoSample.png" alt="Profile" class="profile-img">
                <div class="comment-details">
                    <p class="username">@สมชาย</p>
                    <p class="comment-text">วันนี้ได้มีโอกาสลองชิมข้าวผัดตะเลจากร้าน ต้องบอกว่าไม่ผิดหวังเลย</p>
                </div>
            </div>

            <div class="comment">
                <img src="/images/LogoSample.png" alt="Profile" class="profile-img">
                <div class="comment-details">
                    <p class="username">@สมชาย</p>
                    <p class="comment-text">เป็นครั้งแรกที่ได้ลองซูชิจากร้านนี้
                        รสชาติสดใหม่ของปลาแซลมอนและปลาทูน่าเข้ากับข้าวญี่ปุ่นอย่างลงตัว</p>
                </div>
            </div>

            <div class="comment">
                <img src="/images/LogoSample.png" alt="Profile" class="profile-img">
                <div class="comment-details">
                    <p class="username">@สมชาย</p>
                    <p class="comment-text">สเต๊กเนื้อที่นี่ไม่ธรรมดาจริงๆ! เนื้อย่างมาแบบมีความชุ่มฉ่ำอยู่ภายใน
                        ขนาดที่พอดีในทุกคำ</p>
                </div>
            </div>
        </div>
    </div>
</footer>