<header>
    <div class="header">
        <div class="header-left">
            <a href="/main/user">
                <img src="/images/LogoSample.png" alt="Logo" class="logo">
            </a>
            <a href="/main/user/:userID/following">
                <span class="menu">กำลังติดตาม</span>
            </a>
            <a href="/main/user/:userID/favorite">
                <span class="menu">ชื่นชอบ</span>
            </a>
            <input type="text" class="search-bar" placeholder="ค้นหาจาก...">
        </div>
        <div class="header-right">
            <button class="create-post" onclick="window.location.href='/main/create'">+ สร้างโพส</button>
            <a href="/main/user/profile">
                <img src="/images/LogoSample.png" alt="Profile" class="profile-pic">
            </a>
        </div>
    </div>
</header>