<header>
  <div class="header">
      <div class="header-left">
          <img src="\uploads\1734330701666-Gordon_Ramsay_3x5.jpg" alt="Logo" class="logo">
          <span class="menu">กำลังติดตาม</span>
          <span class="menu">ชื่นชอบ</span>
          <input type="text" class="search-bar" placeholder="ค้นหาจาก...">
      </div>
      <div class="header-right">
          <button class="create-post">+ สร้างโพส</button>
          <img src="\uploads\1734330701666-Gordon_Ramsay_3x5.jpg" alt="Profile" class="profile-pic">
      </div>
  </div>
</header>