<div class="containermenu">
    <div class="typefoodmenu">
        <p class="menutext">ประเภทอาหาร</p>
        <div class="containtypefoodmenu-wrapper">
            <button class="arrowtypefood left-arrowtypefood">❮</button>
            <div class="containtypefoodmenu">
                <div class="typefood">
                    <img src="/images/boiled.png" alt="">
                    <p>ต้ม</p>
                </div>
                <div class="typefood">
                    <img src="/images/puff.png" alt="">
                    <p>ผัด</p>
                </div>
                <div class="typefood">
                    <img src="/images/curry.png" alt="">
                    <p>แกง</p>
                </div>
                <div class="typefood">
                    <img src="/images/fry.png" alt="">
                    <p>ทอด</p>
                </div>
                <div class="typefood">
                    <img src="/images/salad.png" alt="">
                    <p>ยำ</p>
                </div>
                <div class="typefood">
                    <img src="/images/dessert.png" alt="">
                    <p>ของหวาน</p>
                </div>
            </div>
            <button class="arrowtypefood right-arrowtypefood">❯</button>
        </div>
    </div>
</div>