<div class="containermenu">
    <div class="typefoodmenu">
        <p class="menutext">ประเภทอาหาร</p>
        <div class="containtypefoodmenu-wrapper">
            <button class="arrowtypefood left-arrowtypefood">❮</button>
            <div class="containtypefoodmenu">
                <div class="typefood">
                    <img src="/images/boiled.png" alt="">
                    <p>ต้ม</p>
                </div>
                <div class="typefood">
                    <img src="/images/puff.png" alt="">
                    <p>ผัด</p>
                </div>
                <div class="typefood">
                    <img src="/images/curry.png" alt="">
                    <p>แกง</p>
                </div>
                <div class="typefood">
                    <img src="/images/fry.png" alt="">
                    <p>ทอด</p>
                </div>
                <div class="typefood">
                    <img src="/images/salad.png" alt="">
                    <p>ยำ</p>
                </div>
                <div class="typefood">
                    <img src="/images/dessert.png" alt="">
                    <p>ของหวาน</p>
                </div>
            </div>
            <button class="arrowtypefood right-arrowtypefood">❯</button>
        </div>
    </div>

    <div class="followmenu">
        <p class="menutext">ผู้ติดตาม</p>
        <div class="containtypefollowmenu-wrapper">
            <button class="arrowfollow left-arrowfollow">❮</button>
            <div class="containfollowmenu">
                <div class="profilefollow">
                    <img src="/images/chef2.png" alt="">
                    <p>เชฟเอียน</p>
                </div>
                <div class="profilefollow">
                    <img src="/images/chef3.png" alt="">
                    <p>Gordon</p>
                </div>
                <div class="profilefollow">
                    <img src="/images/chef1.png" alt="">
                    <p>VIPS</p>
                </div>
                <div class="profilefollow">
                    <img src="/images/chef2.png" alt="">
                    <p>เชฟเอียน</p>
                </div>
                <div class="profilefollow">
                    <img src="/images/chef3.png" alt="">
                    <p>Gordon</p>
                </div>
                <div class="profilefollow">
                    <img src="/images/chef1.png" alt="">
                    <p>VIPS</p>
                </div>
            </div>
            <button class="arrowfollow right-arrowfollow">❯</button>
        </div>
    </div>       
</div>