<div class="containermenu">
    <div class="typefoodmenu">
        <p class="menutext">ประเภทอาหาร</p>
        <div class="containtypefoodmenu">
            <div class="typefood" data-type="ต้ม">
                <img src="/images/boiled.png" alt="">
                <p>ต้ม</p>
            </div>
            <div class="typefood" data-type="ผัด">
                <img src="/images/puff.png" alt="">
                <p>ผัด</p>
            </div>
            <div class="typefood" data-type="แกง">
                <img src="/images/curry.png" alt="">
                <p>แกง</p>
            </div>
            <div class="typefood" data-type="ทอด">
                <img src="/images/fry.png" alt="">
                <p>ทอด</p>
            </div>
            <div class="typefood" data-type="ยำ">
                <img src="/images/salad.png" alt="">
                <p>ยำ</p>
            </div>
            <div class="typefood" data-type="ไข่">
                <img src="/images/egg.png" alt="">
                <p>ไข่</p>
            </div>
        </div>
    </div>
</div>
