<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <% if (user) { %>
        <h2>Welcome, <%= user.profileName %>!</h2>
        <img src="<%= user.profilePicture %>" alt="Profile Picture" width="50" height="50"> <!-- Display profile picture if available -->
    <% } else { %>
        <h2>Please <a href="/login">log in</a> to see your details.</h2>
    <% } %>
  <br>
  <li><a href="/register">register</a></li>
  <li><a href="/login">login</a></li>
  <li><a href="/main/user/<%= user.userId %>/following">Following Page</a></li>
  <li><a href="/main/create">Create a Post</a></li>
  <li><a href="/main/user">Main page</a></li>
  <li><a href="/logout">Logout</a></li>
</body>
</html>