<!DOCTYPE html>
<html>
<head>
  <title>EJS Test</title>
</head>
<body>
  <h1><%= message %></h1>
  <p>Status: <%= isLogin %></p>
  <% if (isLogin === 'Logged in') { %>
      <a href="/logout">Logout</a>
  <% } else { %>
      <a href="/login">Login</a>
  <% } %>
  <br>
  <a href="/register">Go to register</a><br>
  <a href="/users">Go to Users list</a><br>
  <a href="/create">Go to Create page</a>
</body>
</html>
