<%- include('partials/header') %>
<% if (isLogin === 'Logged in') { %>
      <a href="/logout">Logout</a>
  <% } else { %>
      <a href="/login">Login</a>
  <% } %>
  <br>
  <a href="/register">Go to register</a><br>
  <a href="/users">Go to Users list</a><br>
  <a href="/posts/create">Go to Create Post</a><br>
  <a href="/posts">See all Posts</a><br>
  <a href="/dashboard">Go to Dashboard</a>
  
</body>
</html>
