<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>

    <h1>All Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% if (users.length === 0) { %>
                <tr>
                    <td colspan="2">No other users available.</td>
                </tr>
            <% } else { %>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
        
    </table>
</body>
</html>
