body {
    margin: 0px;
}

.containermenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0px 20px;
    width: 100%;
    max-width: 1340px;
}

.typefoodmenu,
.followmenu {
    margin: 35px;
}

.menutext{
    margin-bottom: 20px;
}

.containtypefoodmenu,
.containfollowmenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0px 20px;
    overflow-x: auto;
}

.typefood , .profilefollow{
    position: relative;
    text-align: center;
    flex: 0 0 auto;
}

.typefood img , .profilefollow img{
    width: 80px;
    height: auto;
}