.containtypefoodmenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 35px;
    overflow-x: auto;
}

.typefoodmenu{
    margin: 35px;
}

.typefoodmenu p{
    color: #8C4D2B;
}

.menutext{
    margin-bottom: 20px;
}