.recipe-card {
    cursor: pointer;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #E9B249;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.recipe-image {
    width: 100%;
    height: auto;
}

.recipe-details {
    padding: 10px;
    background-color: #F1EBD1;
}

.chef-name {
    font-size: 12px;
    color: #8C4D2B;
}

.recipe-title {
    font-size: 16px;
    margin: 5px 0;
    color: #8C4D2B;
}

.recipe-rating {
    font-size: 12px;
    color: gray;
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #B7B7B7;
    border: none;
    font-size: 18px;
    color: #FDFDFD;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-button.favorite-active {
    background-color: #E74C3C; /* สีแดง */
    color: #FFFFFF; /* สีไอคอนขาว */
}


.rating-count {
    color: #996447;
}

.stars {
    color: #E9B249;
} 