<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="left-panel">
        <div class="signup-box">
            <div class="name-username">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="">
                </div>
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="">
                </div>
            </div>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder=""><br>

            <label for="password">Password</label>
            <input type="password" id="password" placeholder=""><br>

            <label for="confirm">Confirm</label>
            <input type="password" id="confirm" placeholder=""><br>

            <button class="signup-btn">Sign Up</button>
            <p>or continue with</p>
            <div class="social-signup">
                <img src="/images/gmail.png" id="gmailimg" alt="gmail">
                <img src="/images/facebook.png" id="facebookimg" alt="facebook">
                <img src="/images/line.png" id="lineimg" alt="line">
            </div>
            <div class="text-login">
                <p>Have an account</p><a href="">Sign in</a>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="right-text">
            <p class="main-title">วงนอก</p>
            <p class="sub-title">สูตรอาหารอร่อยที่เข้าถึงได้ง่าย</p>
        </div>
    </div>
</body>

</html>
